<% include partials/header %>

      <div class="starter-template">
        <h1>Entrar</h1>
        <form class="form-signin" method="post">
            <img class="mb-4" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/577af7b9-cf23-49a2-80ab-c5da2e8f0d05/d3jmb5t-61e7c8c0-13ab-4599-b1be-777eb6463235.png/v1/fill/w_900,h_966,q_80,strp/homer_simpson_by_kass_93_d3jmb5t-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTY2IiwicGF0aCI6IlwvZlwvNTc3YWY3YjktY2YyMy00OWEyLTgwYWItYzVkYTJlOGYwZDA1XC9kM2ptYjV0LTYxZTdjOGMwLTEzYWItNDU5OS1iMWJlLTc3N2ViNjQ2MzIzNS5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0._2WYuD7pFyotUK-3XNBMQHa1rlnES_sqqEvjjBJDJMI" alt="" width="172" height="172">
            <h1 class="h3 mb-3 font-weight-normal">Por favor, identifique-se</h1>
            <label for="inputUser" class="sr-only">Usuario</label>
            <input name="username" type="text" id="inputUser" class="form-control" placeholder="Usuario" required autofocus>
            <label for="inputPass" class="sr-only">Senha</label>
            <input name="password" type="password" id="inputPass" class="form-control" placeholder="Senha" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            <a href="/facebook" class="btn btn-lg btn-primary btn-block">Entrar com Facebook</a>
            <a href="/google" class="btn btn-lg btn-primary btn-block">Entrar com Google</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
          </form>
      </div>

<% include partials/footer %>